/*
 * Styles for com.quollwriter.ui.fx.popups.NewAssetPopup
 */
.header .iconbox,
.header .iconbox .icon
{
     -fx-pref-width: 2em;
     -fx-pref-height: 2em;
     -fx-alignment: center;
     -fx-fill-height: false;
     -fx-shape: null;
 }

.image.bigicon .iconbox:noimage,
.image.bigicon .iconbox:noimage .icon
{
    -fx-pref-width: 2em;
    -fx-pref-height: 2em;
}

.image:noimage .noimage.iconbox .icon
{
    -fx-shape:"m 20.133,0 c -6.539,0 -11.86,5.32 -11.86,11.863 0,1.566 0.32,3.051 0.871,4.418 L 0,25.426 6.57,32 15.718,22.848 c 1.367,0.555 2.852,0.875 4.414,0.875 6.543,0 11.867,-5.32 11.867,-11.859 C 32,5.32 26.676,0 20.133,0 Z m 0,19.727 c -4.332,0 -7.863,-3.531 -7.863,-7.863 0,-4.336 3.531,-7.867 7.863,-7.867 4.34,0 7.871,3.531 7.871,7.867 0,4.331 -3.531,7.863 -7.871,7.863 z m -8.797,0.011 c -1.855,1.852 -4.414,4.418 -5.688,5.688 0.43,0.43 0.488,0.484 0.922,0.922 1.27,-1.273 3.832,-3.836 5.684,-5.688 -0.32,-0.289 -0.625,-0.594 -0.918,-0.922 z";
    -fx-background-color: -qw-icon-color;
}
