/*
 * Styles for com.quollwriter.ui.fx.popups.FirstUseWizard
 */
 .qpopup.firstusewizard
 {
     -fx-pref-width: 50em;
     -fx-pref-height: 40em;
     -fx-min-height: 40em;
     -fx-border-width: 0;
     -fx-border-color: transparent;
 }

 .firstusewizard .header
 {
     -fx-padding: 0 0.5em 0 0.5em;
 }

 .firstusewizard .header.title .title
 {
     -fx-font-size: 2em;
 }

.header .iconbox,
.header .iconbox .icon
{
    -fx-pref-width: 2em;
    -fx-pref-height: 2em;
}

.wizard .header
{
    -fx-padding: 0 0.5em 0 0;
}

.wizard .header .iconbox
{
    visibility: hidden;
}

 .firstusewizard .content .form .control
 {
     -fx-padding: 0.5em 0 0.5em 0.5em;
 }

 .firstusewizard .content .label.loading
 {
     -fx-graphic: url(/imgs/loading24.gif);
 }

 .firstusewizard .content .download
 {
     -fx-fit-width: true;
 }

 .firstusewizard .content .download .progress
 {
     -fx-padding: 0.25em;
     -fx-alignment: center;
     -fx-spacing: 0.25em;
 }

 .firstusewizard .content .download .progress-bar
 {
     -fx-max-width: Infinity;
     -fx-border-width: 1px;
     -fx-border-color: -qw-component-border-color;
 }

 .firstusewizard .content .scroll-pane
 {
     -fx-padding: 0.5em 0 0.5em 0;
     -fx-fit-to-height: true;
     -fx-fit-to-width: false;
 }

 .firstusewizard .content .tree .cell
 {
     -fx-padding: 0;
 }

 .firstusewizard .content .newproject .control
 {
     -fx-padding: 0 0 0.5em 1em;
 }

.firstusewizard .content .license .scroll-pane
{
    /*-fx-max-height: 25em;*/
    -fx-fit-to-width: true;
    -fx-padding: 0 0 0.5em 0;
}

.license .check-box
{
    -fx-padding: 0.5em 0 0.5em 0;
}
