/*
 * Used by the popup created in: com.quollwriter.ui.fx.ShowObjectSelectPopup
 */
.content
{
    -fx-max-height: 40em;
}
.items .label .iconbox,
.items .label .iconbox .icon
{
    -fx-pref-width: 1.333em;
    -fx-pref-height: 1.333em;
    -fx-fill-height: false;
    -fx-alignment: center;
}

.items .label
{
    -fx-font-size: 1.7em;
    -fx-padding: 0.5em;
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: -qw-component-border-color;
    -fx-cursor: hand;
}

.items .label.info
{
    -fx-font-size: 1em;
}

.items .label:hover
{
    -fx-background-color: -qw-hover-bg;
}

.items .label:last
{
    -fx-border-width: 0;
}

.items .label .tooltip
{
    -fx-font-size: 1em;
}

.contact .iconbox
{
    -fx-pref-width: 4.5em;
    -fx-min-width: 4.5em;
    -fx-pref-height: 4.5em;
    -fx-border-width: 1px;
    -fx-border-color: -qw-component-border-color;
    -fx-background-color: -qw-bg-color;
}

.contact .iconbox .icon
{
    -fx-pref-width: 4.5em;
    -fx-min-width: 4.5em;
    -fx-pref-height: 4.5em;
    -fx-min-height: 4.5em;
}

.contact .iconbox:noavatar .icon
{
    -fx-shape: "M 18,6 A 6,6 0 0 1 12,12 6,6 0 0 1 6,6 6,6 0 0 1 12,0 6,6 0 0 1 18,6 M 12,16 C 5.375,16 0,21.375 0,28 c 0,2.211 1.789,4 4,4 h 16 c 2.211,0 4,-1.789 4,-4 0,-6.625 -5.375,-12 -12,-12 z";
    -fx-background-color: #dfdfdf;
    -fx-border-width: 0;
    -fx-pref-width: 3em;
    -fx-min-width: 3em;
    -fx-max-width: 3em;
    -fx-max-height: 4em;
    -fx-min-height: 4em;
    -fx-pref-height: 4em;
    -fx-padding: 0;
}

.contact .iconbox:noavatar
{
    -fx-padding: 2px;
    -fx-alignment: center;
}

.hyperlink
{
    -fx-padding: 0.5em 0 0.25em 0;
}

.versionselect .label.title .iconbox
{
    visibility: hidden;
}

.versionselect .label.title
{
    -fx-border-width: 0;
    -fx-padding: 0.25em 0 0.25em 0.25em;
}

.versionselect .label.info
{
    -fx-padding: 0 0 0.25em 0.75em;
}

.versionselect .label.info .iconbox
{
    visibility: hidden;
}

.versionselect .label:hover
{
    -fx-background-color: transparent;
}

.versionselect .items > VBox:hover
{
    -fx-background-color: -qw-hover-bg;
}

.versionselect .items > VBox:hover .label
{
    -fx-fill: -qw-text-hover-color;
    -fx-text-fill: -qw-text-hover-color;
}

.items > *:last
{
    -fx-border-width: 0;
}
