/*
 * Base styles for com.quollwriter.ui.fx.components.QuollPopup
 */
.qpopup {
    -fx-effect: dropshadow(gaussian, #666666, 20, 0.5, 0, 0);
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-color: -qw-border-color;
    -fx-background-color: -qw-bg-color;
}
.content {
    -fx-padding: 0.5em 0.75em 0.5em 0.75em;
    -fx-pref-width: -qw-popup-width;
    -fx-background-color: -qw-bg-color;
}
.header {
    -fx-padding: 0 0 0 0.5em;
    -fx-background-color: -qw-bg-color;
    -fx-border-width: 0;
}
.header .title {
    -fx-max-width: Infinity;
    -fx-text-fill: -fx-text-base-color;
    -fx-font-size: 1.5em;
    -fx-padding: 0 0 0 0.3em;
}
.header .controls .close {
    -fx-content-display: graphic-only;
    -fx-padding: 0.2em;
}
.header .controls .close .iconbox,
.header .controls .close .iconbox .icon
{
    -fx-pref-width: 1.333em;
    -fx-pref-height: 1.333em;
    -fx-alignment: center;
    -fx-fill-height: false;
}
.header .iconbox .icon,
.header .iconbox {
     -fx-pref-width: 1.333em;
     -fx-pref-height: 1.333em;
     -fx-alignment: center;
     -fx-fill-height: false;
}
.header .controls .close .icon {
    -fx-shape: "M 28,5.602 22.398,0 14,8.402 5.598,0 0,5.602 8.398,14 0,22.398 5.598,28 14,19.598 22.398,28 28,22.398 19.594,14 Z";
}
.description { -fx-padding: 0 0 0.5em 0; }
.buttons {
    -fx-alignment: center;
    -fx-padding: 1em 0.5em 0.5em 0.5em;
}
.button { -fx-content-display: text-only; }
.toolbar.buttons .button,
.form .filefind .button { -fx-content-display: graphic-only; }
.form .buttons {
    -fx-alignment: center-left;
    -fx-padding: 0.5em 0.5em 0.5em 1em;
}
.form.textentry .buttons {
    -fx-alignment: center-left;
    -fx-padding: 0.5em 0.5em 0.5em 0em;
}
.delete .buttons {
    -fx-aligment: center;
    -fx-padding: 1em 0.5em 0.5em 0;
}
/*
.add .header.title .icon { -fx-image: url(/imgs/add16.png); }
.edit .header.title .icon { -fx-image: url(/imgs/edit16.png); }
.delete .header.title .icon { -fx-image: url(/imgs/delete16.png); }
.warning .header.title .icon { -fx-image: url(/imgs/warning16.png); }
.question .header.title .icon { -fx-image: url(/imgs/help16.png); }
.save .header.title .icon { -fx-image: url(/imgs/save16.png); }
.rename .header.title .icon { -fx-image: url(/imgs/edit16.png); }
.error .header.title .icon { -fx-image: url(/imgs/warning16.png); }
*/
.error .header > .iconbox .icon {
    -fx-pref-width: 0.333em;
}
.form.textentry .items { -fx-padding: 0; }
.form.textentry .items .control { -fx-padding: 0 0 0.5em 0; }
/*
.controls .import { -fx-graphic: url(/imgs/project-import24.png); }
.controls .contacts { -fx-graphic: url(/imgs/editors24.png); }
.controls .add { -fx-graphic: url(/imgs/add24.png); }
*/
