/*
 * Styles for com.quollwriter.ui.fx.popups.ShowSynonymsPopup
 */
.header .icon { -fx-image: url(/imgs/find16.png); }
.scroll-pane { -fx-pref-height: 5em; /*-fx-pref-height: 5em;*/ }
.content .header {
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: -qw-component-border-color;
    -fx-padding: 0.5em 0 0 0;
}
.content { -fx-padding: 0 0.25em 0.5em 0.5em; }
.content .header .title {
    -fx-padding: 0;
    -fx-font-size: 1.1em;
    -fx-font-style: italic;
}
.content .words { -fx-padding: 0.25em 0 0.5em 0.25em; }
.content .header .icon { visibility: false; }
.link { -fx-cursor: hand; }
.link:hover { -fx-underline: true; }
