.avatar
{
    -fx-pref-width: 10em;
    -fx-pref-height: 10em;
    -fx-max-height: 10em;
    -fx-max-width: 10em;
    -fx-alignment: center;
    -fx-border-width: 1px;
    -fx-border-color: -qw-component-border-color;
    -fx-cursor: hand;
}

.avatar .iconbox
{
    -fx-pref-width: 10em;
    -fx-pref-height: 10em;
    -fx-max-height: 10em;
    -fx-max-width: 10em;
    -fx-alignment: center;
    -fx-fill-width: false;
}

.avatar:noimage .iconbox .icon
{
    -fx-shape: "M 18,6 A 6,6 0 0 1 12,12 6,6 0 0 1 6,6 6,6 0 0 1 12,0 6,6 0 0 1 18,6 M 12,16 C 5.375,16 0,21.375 0,28 c 0,2.211 1.789,4 4,4 h 16 c 2.211,0 4,-1.789 4,-4 0,-6.625 -5.375,-12 -12,-12 z";
    -fx-background-color: #dfdfdf;
    -fx-pref-width: 6em;
    -fx-pref-height: 8em;
    -fx-max-height: 8em;
    -fx-min-height: 8em;
    -fx-max-width: 6em;
    -fx-min-width: 6em;
}

.control .button
{
    -fx-content-display: graphic-only;
    -fx-padding: 0.2em;
    -fx-cursor: hand;
}

.control > HBox
{
    -fx-spacing: 0.25em;
}

.control .button .iconbox
{
    -fx-pref-width: 1.333em;
    -fx-pref-height: 1.333em;
    -fx-alignment: center;
    -fx-fill-height: false;
}

.control .button .iconbox .icon
{
    -fx-pref-width: 1.142em;
    -fx-pref-height: 1.333em;
}

.form .items .control .button
 {
     -fx-border-color: transparent;
     -fx-border-width: 1px;
     -fx-background-color: transparent;
     -fx-cursor: hand;
     -fx-border-radius: 3px;
     -fx-padding: 0.25em;
 }

 .form .items .control .button:hover,
 .form .items .control .button:focused
  {
      -fx-border-color: -qw-border-color;
      -fx-background-color: -qw-hover-bg;
  }
