/*
 * Base level styles, i.e. applicable to all sub-classes of com.quollwriter.ui.fx.viewers.WindowedContent
 */
.windowed > .header {
    -fx-max-width: Infinity;
    -fx-alignment: center-left;
    -fx-padding: 0 0 0 0.5em;
}
.windowed > .header.title {
    -fx-border-width: 0 0 1px 0;
    -fx-border-insets: 0px;
    -fx-border-color: -qw-component-border-color;
}
.windowed > .header.title .title {
    -fx-font-size: 2.5em;
    -fx-padding: 0 0.5em 0 0.5em;
    -fx-max-width: Infinity;
    -fx-text-fill: -fx-text-base-color;
}
.windowed > .header .controls .button {
    -fx-content-display: graphic-only;
}
.windowed > .header .controls .button .iconbox,
.windowed > .header .controls .menu-button > .label .iconbox,
.windowed > .header .controls .button .iconbox .icon,
.windowed > .header .controls .menu-button > .label .iconbox .icon,
.windowed > .header.title > .iconbox .icon,
.windowed > .header.title > .iconbox {
    -fx-alignment: center;
    -fx-pref-width: 2em;
    -fx-pref-height: 2em;
    -fx-fill-height: false;
}
.windowed > .header .controls .button.ideaboard .iconbox .ideaboard-icon {
    -fx-pref-width: 1.333em;
}
.windowed > .header .controls .button.help .iconbox .icon {
    -fx-pref-width: 1.333em;
}
.windowed > .header .controls .menu-button.config .iconbox .icon {
    -fx-pref-width: 1.333em;
}

.tab-pane { -fx-min-width: 300px; }
.viewer .divider:hover { -fx-cursor: h-resize; }
 /*
  * Notifications area.
  */
 .windowed > .notifications > *
 {
     -fx-padding: 0.25em 0.25em 0.25em 0.5em;
     -fx-border-style: solid;
     -fx-border-width: 0 0 1px 0;
     -fx-border-color: -qw-component-border-color;
     -fx-alignment: center-left;
 }

.windowed > .notifications .controls
{
    -fx-padding: 0.5em;
}
