.root
{

    -qw-bg-color: #fdfdfd;

    /*
     * The dark color.  Generally used for borders and drop shadows as well as solid colors.
     */
    -qw-dark-color: #4d4d4d;

    -qw-dark-night-color: #ffffff;

    /*
     * Used for hover effects on things you can click on.
     */
    -qw-hover-bg: linear-gradient(from 0% 0% to 0% 100%, #ffffff 0%, #dddddd 100%);

    -qw-armed-bg: linear-gradient(from 0% 0% to 0% 100%, #ffffff 0%, #999999 100%);

    -qw-hover-night-bg: linear-gradient(from 0% 0% to 0% 100%, #dddddd 0%, #ffffff 100%);
    -qw-armed-night-bg: linear-gradient(from 0% 0% to 0% 100%, #dddddd 0%, #ffffff 100%);

    -qw-dragging-bg: linear-gradient(from 0% 0% to 0% 100%, #dddddd 50%, #ffffff 100%);
    -qw-dragover-bg: linear-gradient(from 0% 0% to 0% 100%, #dddddd 50%, #ffffff 100%);

    /**
     * The color of borders around components.
     */
    -qw-border-color: -qw-dark-color;

    -qw-component-border-color: #aaaaaa;

    -qw-hyperlink-color: blue;

    /*
     * The color used when items have focus.
     */
    -qw-focus-color: #aaaaaa;

    -qw-show-delay: 750ms;

    /*
     * The standard drop shadow.
     */
    -qw-drop-shadow: dropshadow(gaussian, -qw-component-border-color, 1.5em, 0.3, 0, 0);

    /*
     * The popup width.
     * At 1em = 9pt, 37em equates to 444px.
     */
    -qw-popup-width: 37em;

    -qw-error-text-color: red;

    -qw-selected-effect: dropshadow( three-pass-box, blue , 0.35em, 0.25, 0.0, 0.0);

    -qw-selected-border-color: blue;

    -qw-no-effect-spacer: dropshadow( three-pass-box, transparent, 0.35em, 0.5, 0.0, 0.0);

    -fx-background-color: -qw-bg-color;
    -fx-text-base-color: #333333;
    -fx-text-night-base-color: #ffffff;
    -fx-font-size: 9pt;

    -qw-popup-header-font-size: 2em;
    -qw-window-header-font-size: 2.5em;

    -qw-component-error-border-color: red;

}

.root:night
{
    -qw-bg-color: #4d4d4d;

    /*
     * The dark color.  Generally used for borders and drop shadows as well as solid colors.
     */
    -qw-dark-color: #ffffff;

    /*
     * Used for hover effects on things you can click on.
     */
    -qw-hover-bg: linear-gradient(from 0% 0% to 0% 100%, #dddddd 0%, #ffffff 100%);

    -qw-armed-bg: linear-gradient(from 0% 0% to 0% 100%, -fx-pressed-base 0%, #ffffff 100%);

    /**
     * The color of borders around components.
     */
    -qw-border-color: -qw-dark-color;

    /*
     * The color used when items have focus.
     */
    -qw-focus-color: #aaaaaa;

    /*
     * The standard drop shadow.
     */
    -qw-drop-shadow: dropshadow(gaussian, -qw-border-color, 30, 0.5, 0, 0);

    -fx-text-base-color: #ffffff;

    -qw-hyperlink-color: lightblue;

    -qw-component-border-color: #ffffff;

}

/*
 These elements are used in a TextFlow.
 */
Text
{
    -fx-fill: -fx-text-base-color;
}

.text
{
    -fx-font-smoothing-type: gray;
}

.header .title,
.label,
.check-box,
.radio-button,
.list-cell
{
    -fx-max-width: Infinity;
    -fx-text-fill: -fx-text-base-color;
    -fx-fill: -fx-text-base-color;
}

.check-box
{
    -fx-cursor: hand;
}

.qcheckbox
{
    -fx-alignment: center-left;
}

.qcheckbox .text
{
    -fx-padding: 0 0.25em 0 0.25em;
    -fx-cursor: hand;
}

/* This needs to be so tightly bound because later styles could override it. */
.context-menu .menu-item .label.accelerator-text
{
    -fx-graphic: none;
}

.tooltip
{
    -fx-font-size: 1em;
    -fx-show-delay: -qw-show-delay;
    -fx-hide-delayX: 5000;
    -fx-background-color: -qw-bg-color;
    -fx-text-fill: -fx-text-base-color;
    -fx-background-radius: 0px;
}

.tooltip .qtextview
{
    -fx-max-width: 30em;
    -fx-pref-width: 30em;
}

.tooltip .text
{
    -fx-font-size: 1em;
}

.tool-bar
{
    -fx-background-color: transparent;
}

.textsize
{
    -fx-alignment: center-left;
}

.textsize .slider
{
    -fx-min-width: 30em;
    -fx-pref-width: 30em;
    -fx-max-width: 30em;
}

.textsize .less
{
    -fx-font-size: 0.75em;
}

.textsize .more
{
    -fx-font-size: 1.5em;
}

.colorswatch
{
    -fx-min-width: 5em;
    -fx-min-height: 5em;
    -fx-max-width: 5em;
    -fx-max-height: 5em;
    -fx-border-width: 1px;
    -fx-border-color: -qw-component-border-color;
    -fx-cursor: hand;
}

:selected .colorswatch
{
    -fx-border-color: -qw-selected-border-color;
    -fx-effect: -qw-selected-effect;
}

:hover .colorswatch
{
    -fx-border-color: -qw-selected-border-color;
    -fx-effect: -qw-selected-effect;
    -fx-border-color: red;
}

.scroll-pane
{
    -fx-background-color: transparent;
    -fx-padding: 0px;
    -fx-fit-to-width: true;
    -fx-pannable: true;
}

.scroll-pane .viewport
{
    -fx-background-color: transparent;
    -fx-padding: 0px;
}

.combo-box .list-view
{
    -fx-min-height: 0px;
}

.list-view *:even, .list-view *:odd
{
    /*-fx-background-color: transparent;*/
}

.list-view *:selected
{
    -fx-background-color: -qw-component-border-color;
}

/*
 The following .b, i., .u styles are designed for use in basic HTML rendering.
 */
.b, .B { -fx-font-weight: bold; }
.i, .I { -fx-font-style: italic; }
.u, .U { -fx-underline: true; }

/*
 The following .a styles are designed for use in basic HTML rendering.
 */
.a, .a > * { -fx-fill: -qw-hyperlink-color; }
.a:hover, .a:hover > * { -fx-underline: true; -fx-cursor: hand; }

.page-corner
{
    -fx-background-color: transparent;
}

/*
    General styles related to header.
    Structure:
        .header
            .name
            .controls
                .button
                    .<button-name>
*/

.radiobuttons .radio-button
{
    -fx-padding: 0 0 0.5em 0;
}

.separator:horizontal .line {
    -fx-border-color: -fx-text-box-border transparent transparent transparent,
        -fx-shadow-highlight-color transparent transparent transparent;
    -fx-border-insets: 0, 1 0 0 0;
}
.separator:vertical .line {
    -fx-border-color: transparent transparent transparent -fx-shadow-highlight-color,
        transparent transparent transparent -fx-text-box-border;
    -fx-border-width: 3, 1;
    -fx-border-insets: 0, 0 0 0 1;
}

/*
 Icons for menu items.
 The > * > for menu-items is deliberate and used to prevent cascade issues for submenus.
 */

 .menu-item.start .image-view,
 .button.start
 {
     -fx-image: url(/imgs/play16.png);
     -fx-graphic: url(/imgs/play16.png);
 }

.menu-item.stop .image-view,
.button.stop
{
    -fx-image: url(/imgs/stop16.png);
    -fx-graphic: url(/imgs/stop16.png);
}
.menu-item.add .image-view,
.button.add
{
    -fx-image: url(/imgs/add16.png);
    -fx-graphic: url(/imgs/add16.png);
}
.menu-item.project .image-view,
.button.project
{
    -fx-image: url(/imgs/project16.png);
    -fx-graphic: url(/imgs/project16.png);
}

.menu-item.convert .image-view,
.menu-button.convert,
.button.convert
{
    -fx-image: url(/imgs/convert16.png);
    -fx-graphic: url(/imgs/convert16.png);
}

.menu-item.star .image-view,
.button.star
{
    -fx-image: url(/imgs/star16.png);
    -fx-graphic: url(/imgs/star16.png);
}

.menu-item.up .image-view,
.button.up
{
    -fx-image: url(/imgs/up16.png);
    -fx-graphic: url(/imgs/up16.png);
}

.menu-item.chapter .image-view,
.button.chapter
{
     -fx-image: url(/imgs/chapter16.png);
     -fx-graphic: url(/imgs/chapter16.png);
}
.menu-item.scene .image-view,
.button.scene,
.texteditor .margin .scene .image-view
{
    -fx-image: url(/imgs/scene16.png);
    -fx-graphic: url(/imgs/scene16.png);
}
.menu-item.outlineitem .image-view,
.button.outlineitem,
.texteditor .margin .outlineitem .image-view
{
    -fx-image: url(/imgs/outlineitem16.png);
    -fx-graphic: url(/imgs/outlineitem16.png);
}
.menu-item.editneedednote .image-view,
.button.editneedednote,
.texteditor .margin .editneedednote .image-view
{
    -fx-image: url(/imgs/edit-needed-note16.png);
    -fx-graphic: url(/imgs/edit-needed-note16.png);
}

.menu-item.note .image-view,
.menu-item.note .image-view.note,
.button.note,
.texteditor .margin .note .image-view

{
    -fx-image: url(/imgs/note16.png);
    -fx-graphic: url(/imgs/note16.png);
}

.menu-item.add .image-view,
.menu-item.new > * > .image-view,
.menu-item.newstatus .image-view
{
    -fx-image: url(/imgs/add16.png);
}

.button.cancel,
.menu-item.cancel .image-view,
.menu-item.novalue .image-view,
.menu-item.removeeditposition .image-view,
.menu-item.ignore .image-view,
.button.removeeditposition
{
    -fx-graphic: url(/imgs/cancel16.png);
    -fx-image: url(/imgs/cancel16.png);
}
.menu-item.gotoeditposition .image-view,
.button.gotoeditposition
{
    -fx-graphic: url(/imgs/down-arrow16.png);
    -fx-image: url(/imgs/down-arrow16.png);
}
.menu-item.noimage > .image-view
{
    -fx-image: url(/imgs/16x16-transparent.png);
}
.menu-item.mangaestatuses .image-view,
.menu-item.changedisplay .image-view,
.menu-item.managebackups .image-view,
.menu-item.editneeded .image-view,
.button.editneeded,
.button.edit
{
    -fx-image: url(/imgs/edit16.png);
    -fx-graphic: url(/imgs/edit16.png);
}
.menu-item.refresh .image-view,
.button.refresh
{
    -fx-image: url(/imgs/restore16.png);
    -fx-graphic: url(/imgs/restore16.png);
}
.menu-item.config .image-view,
.button.config
{
    -fx-image: url(/imgs/config16.png);
    -fx-graphic: url(/imgs/config16.png);
}
.menu-item.delete .image-view,
.button.delete
{
    -fx-image: url(/imgs/delete16.png);
    -fx-graphic: url(/imgs/delete16.png);
}
.menu-item.link .image-view,
.button.link
{
    -fx-image: url(/imgs/link16.png);
    -fx-graphic: url(/imgs/link16.png);
}
.menu-item.import .image-view  { -fx-image: url(/imgs/project-import16.png); }
.menu-item.export .image-view  { -fx-image: url(/imgs/project-export16.png); }
.menu-item.ideaboard .image-view  { -fx-image: url(/imgs/idea16.png); }
.menu-item.find .image-view,
.button.find
{
    -fx-graphic: url(/imgs/find16.png);
    -fx-image: url(/imgs/find16.png);
}
.menu-item.sort .image-view,
.menu-item.sortmenu .image-view
{
    -fx-image: url(/imgs/sort16.png);
}
.menu-item.lastedited .image-view { -fx-image: url(/imgs/date16.png); }
.menu-item.name .image-view  { -fx-image: url(/imgs/spellchecker16.png); }
.menu-item.status .image-view,
.menu-item.setstatus .image-view
{
    -fx-image: url(/imgs/star16.png);
}
.menu-item.wordcount .image-view  { -fx-image: url(/imgs/wordcount16.png); }
.menu-item.selectbg .image-view,
.button.selectbg
{
    -fx-image: url(/imgs/bg-select16.png);
    -fx-graphic: url(/imgs/bg-select16.png);
}
.menu-item.open .image-view { -fx-image: url(/imgs/open-project16.png); }
.menu-item.remove .image-view { -fx-image: url(/imgs/warning16.png); }
.menu-item.edit > * > .image-view
{
    -fx-image: url(/imgs/edit16.png);
}
.menu-item.save > * > .image-view
{
    -fx-image: url(/imgs/save16.png);
}
.menu-item.createbackup .image-view
{
    -fx-image: url(/imgs/snapshot16.png);
}
.menu-item.showfolder .image-view,
.menu-item.folder .image-view
{
    -fx-image: url(/imgs/folder16.png);
}
.menu-item.statistics .image-view { -fx-image: url(/imgs/chart16.png); }
.menu-item.targets .image-view { -fx-image: url(/imgs/goals16.png); }
.menu-item.warmup .image-view { -fx-image: url(/imgs/warmup16.png); }
.menu-item.options .image-view { -fx-image: url(/imgs/options16.png); }
.menu-item.achievements .image-view { -fx-image: url(/imgs/achievement16.png); }
.menu-item.whatsnew .image-view { -fx-image: url(/imgs/whats-new16.png); }
.menu-item.view .image-view { -fx-image: url(/imgs/view16.png); }
.menu-item.asset .image-view { -fx-image: url(/imgs/assets16.png); }
.menu-item.tag .image-view
{
    -fx-image: url(/imgs/tag16.png);
}
.menu-item.help > * > .image-view,
.menu-item.viewuserguide .image-view
{
    -fx-image: url(/imgs/help16.png);
}
.menu-item.no-image .label
{
    -fx-content-display: text-only;
}
.menu-item.about .image-view { -fx-image: url(/imgs/about16.png); }
.menu-item.reportbug .image-view { -fx-image: url(/imgs/bug16.png); }
.menu-item.contactsupport .image-view { -fx-image: url(/imgs/email16.png); }
.menu-item.keyboardshortcuts .image-view { -fx-image: url(/imgs/16x16-transparent.png); }
.menu-item.contacts .image-view,
.menu-item.contact .image-view,
.menu-item.editor .image-view
{
    -fx-image: url(/imgs/editor16.png);
}
.menu-item.close .image-view,
.menu-item.hide .image-view
{
    -fx-image: url(/imgs/close16.png);
}
.menu-item.show .image-view
{
    -fx-image: url(/imgs/eye16.png);
}
.menu-item.editcomplete .image-view,
.button.editcomplete
{
    -fx-image: url(/imgs/edit-complete16.png);
    -fx-graphic: url(/imgs/edit-complete16.png);
}
.menu-item.rename .image-view
{
    -fx-image: url(/imgs/rename16.png);
}
.menu-item.info .image-view
{
    -fx-image: url(/imgs/information16.png);
}
.menu-item.problemfinder .image-view,
.button.problemfinder
{
    -fx-image: url(/imgs/eye16.png);
    -fx-graphic: url(/imgs/eye16.png);
}
.menu-item.textproperties .image-view,
.menu-item.editproperties .image-view,
.button.editproperties
{
    -fx-image: url(/imgs/edit-properties16.png);
    -fx-graphic: url(/imgs/edit-properties16.png);
}
.menu-item.print .image-view
{
    -fx-image: url(/imgs/print16.png);
}

.menu-item.split .image-view,
.button.split
{
    -fx-graphic: url(/imgs/chapter-split16.png);
    -fx-image: url(/imgs/chapter-split16.png);
}

.menu-item.seteditposition .image-view,
.button.seteditposition
{
    -fx-graphic: url(/imgs/edit-in-progress16.png);
    -fx-image: url(/imgs/edit-in-progress16.png);
}

.menu-item.information .image-view,
.button.information
{
    -fx-image: url(/imgs/information16.png);
    -fx-graphic: url(/imgs/information16.png);
}

.menu-item.addword .image-view,
.button.addword
{
    -fx-image: url(/imgs/add16.png);
    -fx-graphic: url(/imgs/add16.png);
}

.menu-item.bold .image-view,
.button.bold
{
    -fx-image: url(/imgs/bold16.png);
    -fx-graphic: url(/imgs/bold16.png);
}

.menu-item.italic .image-view,
.button.italic
{
    -fx-image: url(/imgs/italic16.png);
    -fx-graphic: url(/imgs/italic16.png);
}

.menu-item.underline .image-view,
.button.underline
{
    -fx-image: url(/imgs/underline16.png);
    -fx-graphic: url(/imgs/underline16.png);
}

.menu-item.cut .image-view,
.button.cut
{
    -fx-image: url(/imgs/cut16.png);
    -fx-graphic: url(/imgs/cut16.png);
}

.menu-item.copy .image-view,
.button.copy
{
    -fx-image: url(/imgs/copy16.png);
    -fx-graphic: url(/imgs/copy16.png);
}

.menu-item.paste .image-view,
.button.paste
{
    -fx-image: url(/imgs/paste16.png);
    -fx-graphic: url(/imgs/paste16.png);
}

.menu-item.undo .image-view,
.button.undo
{
    -fx-image: url(/imgs/undo16.png);
    -fx-graphic: url(/imgs/undo16.png);
}

.menu-item.redo .image-view,
.button.redo
{
    -fx-image: url(/imgs/redo16.png);
    -fx-graphic: url(/imgs/redo16.png);
}

/*
 * Tree
 */
.tree
{
    -fx-cell-indent: 1.3em;
}

.tree .cell .check-box
{
    -fx-padding: 0 0.25em 0 0em;
}

.tree .cell
{
    -fx-padding: 0 0 0 0.8em;
    -fx-alignment: center-left;
}

.tree .cell .label
{
    -fx-label-padding: 0.1em 0.2em 0.1em 0.2em;

}

.tree .cell:selected > .label
{
    -fx-background-color: -qw-component-border-color;
    -fx-text-fill: white;
}

.tree .cell .disclosure
{
    -fx-image: url(/imgs/tree-branch-closed16.png);
}

.tree .cell .disclosure:expanded
{
    -fx-image: url(/imgs/tree-branch-open16.png);
}

/*
 Control buttons
 */
 .controls > *
 {
     -fx-padding: 0 0 0 0.2em;
 }

.controls .button,
.toolbar .button,
.tool-bar .button,
.toolbar .menu-button,
.tool-bar .menu-button,
.controls .menu-button,
.chapterinfo .buttons .button,
.qpopup.chapteritem.view .buttons .button,
.qpopup.problemfinderconfig .rule .buttons .button,
.qpopup.problemfinderconfig .button.add,
.qpopup.problemfinderconfig .menu-button.add,
.qpopup.problemfinderconfig .button.delete,
.qpopup.timer .button.start,
.toolbar.buttons .button,
.progress .button,
.filefind .button
 {
     -fx-border-color: transparent;
     -fx-border-width: 1px;
     -fx-background-color: transparent;
     -fx-cursor: hand;
     -fx-border-radius: 3px;
     -fx-padding: 0.25em;
 }

.controls .button:hover,
.controls .button:focused,
.controls .menu-button:hover,
.controls .menu-button:focused,
.toolbar .button:hover,
.toolbar .button:focused,
.tool-bar .button:hover,
.tool-bar .button:focused,
.tool-bar .menu-button:hover,
.tool-bar .menu-button:focused,
.toolbar .menu-button:hover,
.toolbar .menu-button:focused,
.toolbar .menu-button:hover,
.toolbar .menu-button:focused,
.chapterinfo .buttons .button:hover,
.chapterinfo .buttons .button:focused,
.qpopup.chapteritem.view .buttons .button:hover,
.qpopup.chapteritem.view .buttons .button:focused,
.qpopup.problemfinderconfig .rule .buttons .button:hover,
.qpopup.problemfinderconfig .rule .buttons .button:focused,
.qpopup.problemfinderconfig .button.add:hover,
.qpopup.problemfinderconfig .button.add:focused,
.qpopup.problemfinderconfig .menu-button.add:hover,
.qpopup.problemfinderconfig .menu-button.add:focused,
.qpopup.problemfinderconfig .button.delete:hover,
.qpopup.problemfinderconfig .button.delete:focused,
.qpopup.timer .button.start:hover,
.qpopup.timer .button.start:focused,
.progress .button:hover,
.progress .button:focused,
.filefind .button:hover,
.filefind .button:focused
 {
     -fx-border-color: -qw-border-color;
     -fx-background-color: -qw-hover-bg;
 }

.controls .button:armed,
.controls .menu-button:armed,
.toolbar .button:armed,
.toolbar .menu-button:armed,
.tool-bar .button:armed,
.tool-bar .menu-button:armed,
.chapterinfo .buttons .button:armed,
.qpopup.chapteritem.view .buttons .button:armed,
.qpopup.problemfinderconfig .rule .buttons .button:armed,
.qpopup.problemfinderconfig .button.add:armed,
.qpopup.problemfinderconfig .menu-button.add:armed,
.qpopup.problemfinderconfig .button.delete:armed,
.qpopup.problemfinderconfig .menu-button.delete:armed,
.qpopup.timer .button.start:armed
 {
     -fx-background-color: -qw-armed-bg;
 }

.controls
 {
    -fx-orientation: horizontal;
    -fx-background-color: transparent;
    -fx-spacing: 0.2em;
 }

/*
 Header
 */
.header
{
    -fx-alignment: center-left;
}

.sidebar .header
{
    -fx-border-width: 0;
}

.qw-textarea
{
    -fx-min-height: 150px;
    -fx-pref-width: 400px;
    -fx-border-color: -qw-border-color;
    -fx-border-width: 1px;
}

.menu-item:hover, .menu-item:focused, .context-menu .menu-item:hover
{
    -fx-background-color: -qw-focus-color;
}

.scroll-bar
{
    -fx-background-color: transparent;
    -fx-box-border: null;
    -fx-background-radius: 0px;
    -fx-padding: 0px;
}

.scroll-bar .track
{
    -fx-padding: 0px;
    -fx-border-width: 0px;
}

.scroll-bar .thumb
{
    -fx-background-color: #dddddd;
    -fx-background-radius: 0px;
}

.scroll-bar .thumb:hover, .scroll-bar .thumb:focused, .scroll-bar .thumb:armed, .scroll-bar .thumb:pressed
{
    -fx-background-color: -qw-focus-color;
}

.split-pane-divider, .viewer .divider
{
    -fx-border-width: 0 1px 0 0;
    -fx-border-color: -qw-component-border-color;
    -fx-pref-width: 2px;
    -fx-max-width: 2px;
    -fx-min-width: 2px;
}

.viewer .viewercontent:dragging
{
    -fx-cursor: h-resize;
    -fx-background-color: transparent;
}

.split-pane
{
    -fx-box-border: transparent;
    -fx-background-color: transparent;
    -fx-padding: 0;
}

/*
 Experimental
 */
/*
.viewer.allprojects .header .controls .add {
    -fx-background-color: #4d4d4d;
    -fx-smooth: true;
    -fx-pref-height: 32px;
    -fx-pref-width: 32px;
    -fx-shape: "M4,0C1.791,0,0,1.789,0,4v24c0,2.211,1.791,4,4,4h24V0H4z M24,28H8V4h3.984v8.039l4-4l4.031,4.031V4 H24V28z";
    }

    .viewer.allprojects .header .controls .add:hover {
        -fx-background-color: white;
        }
        .viewer.allprojects .header .controls .add { -fx-graphic: url(/imgs/book.svg); }

*/

.viewer.allprojects .header .icon
{
    -fx-image: url(/imgs/project24.png);
}

.changeprojectdisplay .example.project .header .title
{
    -fx-padding: -0.5em 0 0 0.3em;
    -fx-font-size: 1.7em;
    -fx-wrap-text: true;
    -fx-text-fill: -fx-text-base-color;
    -fx-alignment: top-left;
    -fx-max-width: 25em;
    -fx-pref-width: 25em;
}

.changeprojectdisplay .example.project .header .title
{
    -fx-alignment: top-left;
}

.changeprojectdisplay .example.project .header .icon
{
    -fx-image: url(/imgs/project20.png);
}

/*
 * A project box in the projects window.
 * Setting both max AND min width is needed to ensure the height is calculated.
 */
.changeprojectdisplay .example.project
{
    -fx-padding: 0.5em;
    -fx-border-width: 1px;
    -fx-border-insets: 0px;
    -fx-border-color: transparent;
    -fx-pref-width: 25em;
    -fx-min-width: 25em;
    -fx-background-color: -qw-bg-color;
}

 .changeprojectdisplay .example.project:hover
{
    -fx-border-width: 1px;
    -fx-border-insets: 0px;
    -fx-border-color: -qw-border-color;
    -fx-background-color: -qw-hover-bg;
    -fx-cursor: hand;
}

 .changeprojectdisplay .example.project
{
    -fx-border-color: -qw-border-color;
}

/*
 * The info about a project in the projects window.
 */
.changeprojectdisplay .example.project .info
{
    -fx-font-size: 1.1em;
    -fx-padding: 0em 0 0 2em;
    -fx-text-fill: -fx-text-base-color;

}

.panel.importfile .title { -fx-graphic: url(/imgs/project-import24.png); }

.panel.importfile .title
{
    -fx-font-size: 2.5em;
    -fx-label-padding: 0 0 0 0.2em;
}

/*
 * Layout image
 */
.layout
{
    -fx-border-width: 1px;
    -fx-border-color: -qw-border-color;
    -fx-max-width: 12em;
    -fx-min-width: 12em;
    -fx-min-height: 6em;
    -fx-cursor: hand;
}

.layout .project
{
    -fx-padding: 0em;
    -fx-alignment: center;
    -fx-background-color: #C07016;
    -fx-pref-width: 3em;
    -fx-max-height: 6em;
}

.layout .other
{
    -fx-padding: 0em;
    -fx-alignment: center;
    -fx-background-color: #1732AE;
    -fx-max-height: 6em;
}

.layout .tabs
{
    -fx-alignment: center;
    -fx-max-height: 6em;
    -fx-background-color: -qw-bg-color;
}

.layout .tabs .text
{
    -fx-font-weight: bold;
}

.layout .project .text, .layout .other .text
{
    -fx-rotate: 45;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-min-width: 3.5em;
}

.qpopup.project .header .icon
{
    -fx-image: url(/imgs/save16.png);
}

/**
 * COPIED FROM AeroFX
 */

.button, .toggle-button{
    -fx-alignment: center;
    -fx-background-color:
        rgb(112,112,112),
        linear-gradient(rgb(252,252,252), rgb(252,252,252)),
        linear-gradient(rgb(242,242,242) 0%, rgb(235,235,235) 49%, rgb(221,221,221) 50%, rgb(207,207,207) 100%);
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;
    -fx-padding: 4 4 3 3;
    -fx-padding: 0.5em 1em 0.5em 1em;
    -fx-text-fill: -fx-text-base-color;
}

.button
{
    -fx-alignment: center;
    -fx-padding: 0.5em 1em 0.5em 1em;
    -fx-background-radius: 0;
    -fx-background-color: linear-gradient(from 0% 0% to 0% 100%, #ffffff 0%, #dddddd 100%);
    -fx-border-radius: 1px;
    -fx-border-color: -qw-component-border-color;
}

.button:hover
{
    -fx-background-color: linear-gradient(from 0% 0% to 0% 100%, #ffffff 0%, #cdcdcd 100%);
    -fx-border-color: -qw-border-color;
}

.button:armed
{
    -fx-background-color: linear-gradient(from 0% 0% to 0% 100%, #ffffff 0%, #87cde5 100%);
    -fx-border-color: -qw-border-color;
}

.combo-box
{
    -fx-border-radius: 0;
    -fx-background-color: transparent;
    -fx-border-color: -qw-component-border-color;
    -fx-border-width: 1px;
}

.combo-box .list-view .list-cell
{
    -fx-padding: 0.5em;
}

.context-menu,
.choice-box
{
    -fx-background-color: -qw-bg-color;
    -fx-border-width: 1px;
    -fx-border-color: -qw-component-border-color;
}

.qpopup .form .choice-box .label
{
    -fx-padding: 0.25em;
}

.root:night .combo-box .combo-box-popup .list-view, .root:night .combo-box .combo-box-popup .list-cell
{
-fx-background-color: -qw-bg-color;
}

.root:night .menu-item .label
{
    -fx-text-fill: -fx-text-base-color;
}

.root:night .button,
.root:night .list-cell
{
    -fx-text-fill: -fx-text-base-color;
}

.progress-bar .track
{
    -fx-border-width: 0;
    -fx-border-insets: 0;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-border-style: none;
}

.progress-bar .bar
{
    -fx-border-width: 0;
    -fx-border-insets: 0;
    -fx-border-style: none;
    -fx-background-color: #aaaaaa;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}

.root.popup
{
    -fx-pref-width: 200px;
    -fx-pref-height: 200px;
    -fx-background-color: transparent;
    -fx-background-radius: 0px;
}

.text-field, .text-field:focused
{
    -fx-padding: 0.2em;
}

.text-field
{
    -fx-border-radius: 0;
    -fx-border-color: -qw-component-border-color;
    -fx-padding: 0.2em;
    -fx-background-insets: 0;
}

.control:error .text-field
{
    -fx-border-color: -qw-component-error-border-color;
}

.qtextarea
{
    -fx-pref-height: 15em;
    -fx-min-height: 15em;
}

.qtextarea .styled-text-area
{
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-color: -qw-component-border-color;
    -fx-padding: 0.2em;
}

.qtextarea.description { -fx-padding: 0; }

.qtextarea .max
{
    -fx-padding: 5.2em 0 0 0em;
    -fx-text-fill: -qw-focus-color;
}

.qtextarea .max:error
{
    -fx-text-fill: -qw-error-text-color;
}

.text-area:focused .content, .text-area:armed .content, .text-field:focused, .text-field:armed
{
    -Xfx-effect: null;
}

.popuppane
{
    -fx-background-color: transparent;
}

/*
 Popup (QuollPopup)
 */
/*
 Create new project Popup (NewProjectPopup)
 */
.newproject .passwords
{
    -fx-spacing: 0.5em;
    -fx-alignment: center-left;
    -fx-padding: 0.5em 0 0 0;
}

.newproject .passwords .label
{
    -fx-padding: 0 0 0 0.5em;
}

.qpopup.reportbug .header .icon, .qpopup.bug .header .icon { -fx-image: url(/imgs/bug16.png); }
.qpopup.export .header .icon { -fx-image: url(/imgs/project-export16.png); }

/*
 * Contact support popup (ContactSupportPopup)
 */
.qpopup.contactsupport .header .icon, .qpopup.contactuilangcreator .header .icon
{
    -fx-image: url(/imgs/email16.png);
}

/*
 * New chapter popup (NewChapterPopup)
 */
.qpopup.createchapter .header .icon
{
    -fx-image: url(/imgs/add16.png);
}

/*
 * About QW popup (AboutPopup)
 */
.qpopup.about .content .form, .qpopup.about .content .form .items
{
    -fx-padding: 0;
}

.qpopup.about .content .form
{
    -fx-padding: 0 0 0 0.5em;
}

/*
 Find projects Popup (FindProjectsPopup)
 */
.qpopup.findprojects .header .icon
{
    -fx-image: url(/imgs/find16.png);
}

/*
 Error popup
 */
.qpopup.error .header .icon
{
    -fx-image: url(/imgs/warning16.png);
}

/*
 * View scene popup (ViewChapterItemPopup)
 */
 .qpopup.chapteritem.view .buttons
 {
     -fx-alignment: center-left;
     -fx-padding: 0 0 0.5em 0;
 }

.qpopup.chapteritem.view .subtitle
{
    -fx-font-style: italic;
}

.qpopup.chapteritem.view .linkedto .scroll-pane
{
    -fx-padding: 0;
}

.qpopup.chapteritem.edit .linkedto .scroll-pane, .qpopup.chapteritem.add .linkedto .scroll-pane
{
    -fx-max-height: 15em;
}

.qpopup.chapteritem .linkedto .tree
{
    -fx-cell-indent: 0.75em;
}

.qpopup.chapteritem .linkedto .tree .cell
{
    -fx-padding: 0 0 0 0.4em;
}

.qpopup.scene .header .icon
{
    -fx-image: url(/imgs/scene16.png);
}

.qpopup.outlineitem .header .icon
{
    -fx-image: url(/imgs/outlineitem16.png);
}

.qpopup.note .header .icon
{
    -fx-image: url(/imgs/note16.png);
}

.qpopup.editneedednote .header .icon
{
    -fx-image: url(/imgs/edit-needed-note16.png);
}

.qpopup.outlineitem .scene.hyperlink
{
    -fx-graphic: url(/imgs/scene16.png);
}

.qpopup.createbackup .header.title .icon,
.qpopup.backupcreated .header.title .icon
{
    -fx-image: url(/imgs/snapshot16.png);
}

.qpopup.restore .header .icon
{
    -fx-image: url(/imgs/restore16.png);
}

.qpopup .itemmanager .buttons, .qpopup .backups .buttons
{
    -fx-alignment: center-left;
    -fx-padding: 1em 0.5em 1em 0em;
}
*/
/**
 * Change project display popup (ChangeProjectDisplayPopup)
 */
.changeprojectdisplay .project.normal .header
{
    -fx-padding: 0;
}

.changeprojectdisplay .header .icon
{
    -fx-image: url(/imgs/edit16.png);
}

.changeprojectdisplay .content .header .icon
{
    visibility: hidden;
}

.changeprojectdisplay .header.example
{
    -fx-padding: 0.5em 0 0.5em 0;
    -fx-content-display: text-only;
    -fx-graphic-text-gap: 0;
    -fx-label-padding: 0;
}

.changeprojectdisplay .header.example .title
{
    -fx-padding: 0;
}

.changeprojectdisplay .example.project
{
    -fx-alignment: top-center;
    -fx-fill-width: true;
    -fx-max-width: 25em;
    -fx-pref-width: 25em;
}

.changeprojectdisplay .qtextarea.format, .changeprojectdisplay .qtextarea.format .text-area
{
    -fx-min-height: 6em;
    -fx-pref-height: 6em;
}

/**
 * What's new popup.  (WhatsNewPopup)
 */
.qpopup.whatsnew .header .icon
{
    -fx-image: url(/imgs/whats-new16.png);
}

.qpopup.whatsnew .content
{
    /* The height of the whats new content area can change, this ensures it's always high enough to view the content. */
    -fx-min-height: 20em;
}

/*
 * Select UI language strings to edit (ShowObjectSelectPopup with style uilangstringsselect)
 */
 .qpopup.uilangstringsselect .header .icon, .qpopup.addnewuilangstrings .header .icon
 {
     -fx-image: url(/imgs/edit16.png);
 }

 .qpopup.uilangstringsselect .scroll-pane
 {
     -fx-fit-to-width: true;
 }

 .qpopup.uilangstringsselect .items
 {
     -fx-pref-height: 20em;
     -fx-fill-width: true;
 }

 .qpopup.uilangstringsselect .items .label
 {
     -fx-font-size: 1.5em;
     -fx-cursor: hand;
     -fx-padding: 0.5em;
     -fx-border-width: 0 0 1px 0;
     -fx-border-color: -qw-component-border-color;
     -fx-max-width: Infinity;
 }

 .qpopup.uilangstringsselect .items .label:hover, .qpopup.uilangstringsselect .items .label:focused
  {
      -fx-background-color: -qw-hover-bg;
  }

/*
 * Edit position example popup
 */
.qpopup.editpositionexample .content
{
    -fx-pref-width: 300px;
    -fx-min-width: 300px;
}

.qpopup.editpositionexample .content .image-view
{
    -fx-image: url(/data/edit-position-example.png);
}

/*
 * Compress chapter context menu example popup
 */
 .qpopup.compresschaptercontextexample .content
 {
     -fx-pref-width: 275px;
     -fx-min-width: 275px;
 }

.qpopup.compresschaptercontextexample .content .image-view:compressed
{
    -fx-image: url(/data/compressed-chapter-context-menu.png);
}

.qpopup.compresschaptercontextexample .content .image-view
{
    -fx-image: url(/data/none-compressed-chapter-context-menu.png);
}

/*
 * Chapter icons example popup
 */
.qpopup.chaptericonsexample .content .image-view
{
    -fx-image: url(/data/chapter-icons-example.png);
}

/**
 * Wizard (ui.fx.components.Wizard)
 */
.wizard > .header .title, .wizard > .header
{
    -fx-padding: 0 0 0 0;
}

.wizard > .header
{
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: -qw-component-border-color;
}

.list-cell:error
{
    -fx-border-color: -qw-error-text-color;
}

.scroll-bar:vertical .thumb, .scroll-bar:horizontal .thumb
{
    -fx-padding: 0;
    -fx-background-insets: 0 0 0 2px;
}

.scroll-bar:vertical .track-background, .scroll-bar:vertical .track, .scroll-bar:horizontal .track-background, .scroll-bar:horizontal .track
{
    -fx-padding: 0em;
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

.scroll-pane .viewport
{
    -fx-padding: 0;
    -fx-background-insets: 0;
    -fx-background-color: transparent;
}

/*
 * Tagged objects in sidebar
 */
 /*
 .sidebar.project .accordion.tag .tree .cell .label.chapter
 {
     -fx-graphic: url(/imgs/chapter16.png);
 }

 .sidebar.project .accordion.tag .tree .cell .label.note
 {
     -fx-graphic: url(/imgs/note16.png);
 }

 .sidebar.project .accordion.tag .tree .cell .label.editneedednote
 {
     -fx-graphic: url(/imgs/edit16.png);

 }
*/

/*
 * Contacts sidebar (EditorsSideBar)
 */
.sidebar.contacts
{
    -fx-pref-width: 20em;
    -fx-min-width: 20em;
}

.viewer .sidebar.contacts > .header .icon
{
    -fx-image: url(/imgs/editors16.png);
}

:dragging, :dragover
{
    -fx-cursor: closed-hand;
}

:dragging
{
    -fx-background-color: -qw-dragging-bg;
}

:dragover
{
    -fx-background-color: -qw-dragover-bg;
}

.controls .button:dragging, .controls .button:dragover
 {
     -fx-cursor: closed-hand;
 }

.qpopup.headerconfigure
{
    -fx-effect: null;
}

.qpopup.headerconfigure .content
{
    -fx-pref-width: 20em;
    -fx-min-width: 20em;
}

.qpopup.headerconfigure .content .tool-bar
{
    -fx-min-width: 18em;
    -fx-border-width: 1px;
    -fx-border-style: segments(0.3em, 0.3em);
    -fx-border-color: -qw-component-border-color;
}

.qpopup.headerconfigure .description
{
    -fx-padding: 0.5em 0 0.5em 0;
}

.header .controls.configuring
{
    -fx-min-width: 20.1em;
    -fx-border-width: 1px;
    -fx-border-style: segments(0.3em, 0.3em);
    -fx-border-color: -qw-component-border-color;
}

.viewer .sidebar .scroll-pane
{
    -fx-hbar-policy: as-needed;
    -fx-vbar-policy: as-needed;
}

.project .windowed > .header.title .icon
{
    -fx-image: url(/imgs/project24.png);
}

.tab-pane:top .tab-content-area
{
    -fx-border-width: 0 1px 1px 1px;
    -fx-border-color: -qw-component-border-color;
}

.tab-pane:top *.tab-header-area {
    -fx-padding: 0.5em 0 0 0.25em;
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: -qw-component-border-color;
    -fx-background-insets: 0;
}

.tab-pane:bottom *.tab-header-area {
    -fx-padding: 0em 0.25em 0.77em 0.25em;
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: -qw-component-border-color;
}

/*
 * The border here needs to be for the bottom of node to show up at the top
 * even though the tab is at the bottom.
 */
.tab-pane:bottom .tab
{
    -fx-border-width: 0px 0px 0px 0px;
    -fx-background-radius: 0;
    -fx-border-color: -qw-component-border-color;
}

.tab-pane:top .tab
{
    -fx-border-width: 0px 0px 0px 0px;
    -fx-background-radius: 0;
    -fx-border-color: -qw-component-border-color;

    -fx-background-insets: 0 1 1 0, 1 2 1 1, 2 3 1 2;
       -fx-padding: 0.083333em 0.5em 0.0769em 0.5em; /* 1 6 0.99 6 */
}

.tab-pane:top > .tab-header-area > .tab-header-background {
    -fx-background-insets: 0, 0 0 1 0, 1;
}

.tab-pane:top .tab:selected
{
    -fx-background-color: -fx-outer-border, -fx-inner-border, transparent;
    -fx-background-insets: 0 1 1 0, 1 2 0 1, 2 3 0 2;
}

.tab-header-background
{
    -fx-background-color: transparent;
}

.tab-header-area .headers-region
{
    -fx-background-color: transparent;
}

.tab.chapter .tab-label
{
    -fx-padding: 0.3em;
    -fx-graphic: url(/imgs/chapter16.png);
}

.tab.options .tab-label
{
    -fx-padding: 0.3em;
    -fx-graphic: url(/imgs/settings16.png);
}

.tab.ideaboard .tab-label
{
    -fx-padding: 0.3em;
    -fx-graphic: url(/imgs/idea16.png);
}

.tab.achievements .tab-label
{
    -fx-graphic: url(/imgs/achievement16.png);
}

.tab.statistics .tab-label
{
    -fx-graphic: url(/imgs/chart16.png);
}

.menu-button .label
{
    -fx-padding: 0 0.1em 0 0;
}

.menu-button .arrow-button
{
    -fx-padding: 16px 0 0 -2px;
}
/*
.project .sidebar .toolbar:bottom .menu-button .arrow-button
{
    -fx-rotate: 180;
}
*/
/*
 * Rename project popup.
 */
.qpopup.rename .header .icon
{
    -fx-image: url(/imgs/rename16.png);
}

.qpopup.rename .content .form .control
{
    -fx-padding: 0 0 0.5em 0;
}

.qpopup.rename .content .form .buttons
{
    -fx-padding: 0.5em 0.5em 0.5em 0;
}

/*
 * Chapters over readability target (ChaptersOverReadabilityTargetPopup)
 */
.qpopup.readability .header .icon
{
    -fx-image: url(/imgs/eye16.png);
}

.qpopup.readability .label.title, .qpopup.readability .label
{
    -fx-min-width: 3em;
}

.qpopup.readability .items .hyperlink, .qpopup.readability .items .label
{
    -fx-padding: 0.25em;
}

.qpopup.readability .items .over
{
    -fx-text-fill: red;
}

/*
 * Chapters over word count target (ChaptersOverWordCountTargetPopup)
 */
.qpopup.wordcount .header .icon
{
    -fx-image: url(/imgs/wordcount16.png);
}

.qpopup.wordcount .items .hyperlink, .qpopup.wordcount .items .label
{
    -fx-padding: 0.25em;
}

.qpopup.wordcount .items .over
{
    -fx-text-fill: red;
}



.linkedto .scroll-pane
{
    /*-fx-pref-height: 15em;*/
    -fx-fit-to-width: false;
    -fx-padding: 0.5em 0 0 0.5em;
}

.linkedto .tree .cell
{
    -fx-cursor: hand;
}

.linkedto .tree .cell .label
{
    -fx-padding: 0.1em;
}

.linkedto .tree .cell .label.header.chapter
{
    -fx-graphic: url(/imgs/chapter16.png);
}

.linkedto .tree .cell .label.header.note
{
    -fx-graphic: url(/imgs/note16.png);
}

.linkedto .tree .cell .label.scene
{
    -fx-graphic: url(/imgs/scene16.png);
}

.linkedto .tree .cell .label.outlineitem
{
    -fx-graphic: url(/imgs/outlineitem16.png);
}

.linkedto .tree .cell .label.outlineitem
{
    -fx-graphic: url(/imgs/outlineitem16.png);
}

/*
 * Chapter information sidebar (ChapterInformationSideBar)
 */
.sidebar.chapterinfo .header .icon
{
    -fx-image: url(/imgs/chapter-information16.png);
}

.sidebar.chapterinfo .accordion .header .controls .edit
{
    -fx-graphic: url(/imgs/edit16.png);
}

.sidebar.chapterinfo .accordion .header
{
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: -qw-component-border-color;
    -fx-padding: 0 0 0 0;
}

.sidebar.chapterinfo .accordion .header .controls
{
    -fx-padding: 0.25em 0.25em 0.25em 0.5em;
}

.sidebar.chapterinfo .accordion
{
    -fx-padding: 0 0.5em 0.5em 0.5em;
}

.sidebar.chapterinfo .accordion .edit .text-area
{
    -fx-max-width: Infinity;
    -fx-min-width: 10em;
    -fx-pref-width: 15em;
}

.sidebar.chapterinfo .accordion .content .edit
{
    -fx-padding: 0.5em 0.5em 0 0.75em;
}

.sidebar.chapterinfo .accordion .content .view
{
    -fx-padding: 0.25em;
}

.sidebar.chapterinfo .accordion .buttons
{
    -fx-padding: 0.25em;
    -fx-alignment: center-right;
    -fx-border-width: 0 1px 1px 1px;
    -fx-border-color: -qw-component-border-color;
}

.sidebar.chapterinfo .accordion .button.save,
.button.save
{
    -fx-graphic: url(/imgs/save16.png);
}

.sidebar.chapterinfo .accordion .button.cancel
{
    -fx-graphic: url(/imgs/cancel16.png);
}

.sidebar.chapterinfo .accordion .placeholder
{
    -fx-font-style: italic;
}

.chapterinfo .accordion.description .header .icon
{
    -fx-image: url(/imgs/chapter-information16.png);
}

.chapterinfo .accordion.goals .header .icon
{
    -fx-image: url(/imgs/goals16.png);
}

.chapterinfo .accordion.plan .header .icon
{
    -fx-image: url(/imgs/plan16.png);
}

.chapterinfo .accordion.linkedto .header .icon
{
    -fx-image: url(/imgs/link16.png);
}

.viewer.project .sidebar.chapterinfo .scroll-pane
{
    -fx-hbar-policy: as-needed;
    -fx-vbar-policy: as-needed;
    -fx-fit-to-height: false;
    -fx-fit-to-width: true;
}

.viewer.project .sidebar.chapterinfo .linkedto .content .linkedto
{
    -fx-padding: 0 0 0.25em 0;
}

.viewer.project .sidebar.chapterinfo .linkedto .cell
{
    -fx-padding: 0;
}

.viewer.project .sidebar.chapterinfo .linkedto .cell .header
{
    -fx-border-width: 0;
}

.viewer.project .sidebar.chapterinfo .linkedto .content
{
    -fx-padding: 0.25em 0.25em 0.25em 0;
}

.sidebar.chapterinfo .accordion.linkedto .buttons
{
    -fx-border-width: 1px 0 0 0;
}

.qpopup.save .header .icon
{
    -fx-image: url(/imgs/save16.png);
}

.nosynonyms
{
    -fx-font-style: italic;
}

.nosynonyms:focused
{
    -fx-background-color: transparent;
}

.nosynonyms:disabled .label
{
    -fx-text-fill: -fx-text-base-color;
}

.compressedmenutitle.label
{
    -fx-padding: 0.5em 1em 0.5em 1.6em;
    -fx-font-style: italic;
    -fx-pref-width: 7em;
}

.compressedmenu:focused .compressedmenutitle
{
    -fx-text-fill: -fx-text-base-color;
}

.compressedmenu:focused, .compressedmenu:active, .compressedmenu:pressed
{
    -fx-background-color: transparent;
}

.compressedmenu .button
{
    -fx-content-display: graphic-only;
}

.viewer.project .tab-pane:top .tab-content-area
{
    -fx-border-width: 0;
    -fx-border-color: -qw-component-border-color;
}

/*
 * com.quollwriter.ui.fx.ProblemFinder
 */
 /* TODO Fix this, causes issue with chapter right click menu */

.qpopup.problemfinder .header .icon
{
    -fx-image: url(/imgs/eye16.png);
}

/*
 * IdeaBoard (IdeaBoard)
 */

.date-picker, .date-picker:focused, .spinner, .spinner:focused
{
    -fx-background-color: transparent;
    -fx-border-radius: 0px;
    -fx-border-color: -qw-component-border-color;
    -fx-max-width: 15em;
}

.date-picker .text-field,
.date-picker .text-field:focused,
.date-picker:focused .text-field,
.spinner .text-field,
.spinner .text-field:focused
{
    -fx-background-insets: 0;
    -fx-border-width: 0;
    -fx-background-color: transparent;
    -fx-padding: 0.5em;
}

.date-picker .arrow-button
{
    -fx-padding: 0.75em;
    -fx-background-radius: 0;
    -fx-background-image: url(/imgs/date16.png);
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-border-width: 0 0 0 1px;
    -fx-border-color: transparent;
}

.date-picker .arrow-button:hover,
.spinner .increment-arrow-button:hover,
.spinner .decrement-arrow-button:hover
{
    -fx-background-color: -qw-hover-bg;
    -fx-border-width: 0 0 0 1px;
    -fx-border-color: -qw-component-border-color;
}

.spinner .decrement-arrow-button:hover
{
    -fx-border-width: 1px 0 0 1px;
}

.spinner .increment-arrow-button:hover
{
    -fx-border-width: 0 0 1px 1px;
}

.date-picker .arrow-button .arrow,
.spinner .increment-arrow,
.spinner .decrement-arrow
{
    -fx-opacity: 0;
    -fx-padding: 0.5em;
    -fx-background-color: transparent;
}

.date-picker .text-input, .spinner .text-input
{
    -fx-pref-width: 14em;
}

.spinner .increment-arrow-button, .spinner .decrement-arrow-button
{
    -fx-padding: 0.75em;
    -fx-background-radius: 0;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-border-width: 0 0 0 1px;
    -fx-border-color: transparent;
}

.spinner .increment-arrow-button
{
    -fx-background-image: url(/imgs/more12.png);
}

.spinner .decrement-arrow-button
{
    -fx-background-image: url(/imgs/less12.png);
    -fx-border-width: 1px 0 0px 1px;
}

body
{
    overflow-x: hidden;
    overflow-y: hidden;
}

a
{
    font-size: 30pt;
}

.web-view Label
{
    -fx-background: transparent;
}

.overlay
{
    -fx-alignment: top-center;
    -fx-cursor: move;
    -fx-fill-width: true;
    -fx-padding: 5em 0 0 0;
}

.overlay .label
{
    -fx-font-size: 1.5em;
    -fx-text-alignment: center;
    -fx-alignment: top-center;
    -fx-border-width: 1px 0 1px 0;
    -fx-border-color: -qw-component-border-color;
    -fx-background-color: #ffffff;
    -fx-opacity: 1;
    -fx-padding: 1em;
    -fx-graphic: url(/imgs/down24.png);
    -fx-wrap-text: true;
}

.panel.asset.new .objectname
{
    -fx-padding: 0.5em;
}

.panel.asset.new .objectname .label
{
    -fx-font-size: 1.5em;
}

/*
 This is to override the previous label definition, qtextview (WebViewFitContent) uses its
 own label to track the size of the text it should use.
 */
.panel.asset.new .objectname .errors .qtextview .label
{
    -fx-font-size: 1em;
}

.panel.asset.new .objectname .control
{
    -fx-padding: 0.25em 0 0 0.5em;
    -fx-max-width: 70em;
}

.qpopup.dictionarymanager .header .icon { -fx-image: url(/imgs/dictionary16.png); }
.qpopup.tagsmanager .header.title .icon { -fx-image: url(/imgs/tag16.png); }
.qpopup.notetypesmanager .header.title .icon { -fx-image: url(/imgs/note16.png); }

.root.popupviewer .qpopup.question
{
    /*-fx-padding: 0.5em 0.75em 0.5em 0.75em;*/
    -fx-pref-width: -qw-popup-width;
    -fx-min-width: -qw-popup-width;
    -fx-background-color: -qw-bg-color;
    -fx-border-width: 0;
    -fx-effect: none;
}

.root.popupviewer .qpopup .header .controls
{
    visibility: hidden;
}

.status-busy
{
    -fx-graphic: url(/imgs/status-busy16.png);
    -fx-image: url(/imgs/status-busy16.png);
}

.status-online
{
    -fx-graphic: url(/imgs/status-online16.png);
    -fx-image: url(/imgs/status-online16.png);
}

.status-away
{
    -fx-graphic: url(/imgs/status-away16.png);
    -fx-image: url(/imgs/status-away16.png);
}

.status-snooze
{
    -fx-graphic: url(/imgs/status-snooze16.png);
    -fx-image: url(/imgs/status-snooze16.png);
}

.viewer .qpopup.stop .header .icon
{
    -fx-image: url(/imgs/stop16.png);
}

.smallicon
{
    -fx-max-width: 16px;
    -fx-max-height: 16px;
    -fx-pref-height: 16px;
    -fx-pref-width: 16px;
    -fx-cursor: hand;
}

.bigicon
{
    -fx-max-width: 24px;
    -fx-max-height: 24px;
    -fx-pref-width: 24px;
    -fx-pref-height: 24px;
    -fx-cursor: hand;
}

.bigicon:noimage .image-view
{
    -fx-image: url(/imgs/find24.png);
}

.smallicon:noimage .image-view
{
    -fx-image: url(/imgs/find16.png);
}

.sidebar.editproperties .fullscreen .background
{
    -fx-min-height: 10em;
    -fx-min-width: 10em;
    -fx-border-width: 1px;
    -fx-border-color: -qw-component-border-color;
    -fx-cursor: hand;
}

.sidebar.editproperties .fullscreen .backgroundsizebox
{
    -fx-pref-height: 15em;
    -fx-min-height: 15em;
    -fx-max-height: 15em;
}

.sidebar.editproperties .fullscreen .inner
{
    -fx-border-width: 1px;
    -fx-border-color: -qw-component-border-color;
    -fx-background-color: -qw-hover-bg;
}

/**
 * AchievementsPopup
 */
.qpopup.achievements .header.title .icon
{
    -fx-image: url(/imgs/achievement16.png);
}

.filefind
{
    -fx-spacing: 0.2em;
    -fx-max-width: 50em;
}

.filefind .button
{
    -fx-padding: 0.3em;
    -fx-cursor: hand;
}

.filefind .button.find
{
    -fx-graphic: url(/imgs/find16.png);
}

.filefind .button.view
{
    -fx-graphic: url(/imgs/eye16.png);
}

.filefind .button.clear
{
    -fx-graphic: url(/imgs/clear16.png);
}

.sidebar.problemfinder .header .icon
{
    -fx-image: url(/imgs/eye16.png);
}

.hyperlink {
    -fx-fill: -qw-hyperlink-color;
    -fx-text-fill: -qw-hyperlink-color;
    -fx-graphic-text-gap: 0.25em;
    -fx-padding: 0;
    -fx-underline: false;
    -fx-text-wrap: true;
}
.hyperlink.help { -fx-graphic: url(/imgs/help16.png); }
.hyperlink.warning { -fx-graphic: url(/imgs/warning16.png); }
.hyperlink.find, .hyperlink.view { -fx-graphic: url(/imgs/find16.png); }
.hyperlink.selectbg { -fx-graphic: url(/imgs/bg-select16.png); }
.hyperlink.linkedto { -fx-graphic: url(/imgs/link16.png); }
.hyperlink.edit { -fx-graphic: url(/imgs/edit16.png); }
.hyperlink.view { -fx-padding: 0.5em 0.5em 0.5em 0em; }
.hyperlink:hover { -fx-underline: true; }
