
Text
{
    -fx-font-family: "Courier New";
}

.nodename
{
    -fx-font-size: 1.3em;
    -fx-padding: 0.5em 0.5em 0.25em 0.25em;
    -fx-cursor: hand;
}

.accordion.stylesheetfile
{
    -fx-padding: 0em 0 0 0;
}

.stylesheetfile .header .title
{
    -fx-font-size: 1.2em;
    -fx-padding: 0.5em 0.5em 0.25em 0.25em;
}

.accordion .content
{
    -fx-padding: 0 0.5em 0.5em 1.25em;
}

.accordion .header
{
    -fx-border-width: 0;
}

.accordion .header .title
{
    -fx-cursor: hand;
    -fx-font-size: 1.2em;
    -fx-padding: 0.5em 0.5em 0.25em 0.25em;
}

.accordion .header .iconbox
{
    -fx-pref-width: 1.75em;
    -fx-pref-height: 2em;
    -fx-min-width: 1.75em;
    -fx-min-height: 2em;
    -fx-alignment: center;
    -fx-fill-height: false;
    visibility: hidden;
}

.accordion .header .icon
{
    -fx-pref-width: 1.75em;
    -fx-pref-height: 2em;
    -fx-min-width: 1.75em;
    -fx-min-height: 2em;
}

.accordion .header .stylesheetfile-icon
{
    -fx-shape: "M 0.25,0 C 0.112,0 0,0.113 0,0.25 V 16 H 26 V 8 H 18.25 C 18.112,8 18,7.887 18,7.75 V 0 Z M 19,0 v 7 h 7 z M 5.375,19.063 c -0.443,0 -0.844,0.078 -1.219,0.219 -0.372,0.141 -0.685,0.336 -0.938,0.594 -0.263,0.268 -0.456,0.594 -0.594,0.969 -0.138,0.375 -0.219,0.789 -0.219,1.25 0,0.495 0.076,0.935 0.219,1.313 0.146,0.378 0.331,0.685 0.594,0.938 0.263,0.253 0.604,0.466 0.969,0.594 0.367,0.128 0.755,0.188 1.188,0.188 0.292,0 0.521,-0.034 0.688,-0.063 C 6.23,25.036 6.404,24.995 6.594,24.94 6.74,24.898 6.867,24.872 7,24.815 7.133,24.758 7.292,24.693 7.438,24.627 V 23.221 H 7.282 c -0.07,0.063 -0.172,0.133 -0.281,0.219 -0.109,0.086 -0.216,0.174 -0.344,0.25 -0.151,0.094 -0.32,0.164 -0.5,0.219 -0.177,0.055 -0.349,0.094 -0.531,0.094 -0.19,0 -0.398,-0.034 -0.594,-0.094 C 4.837,23.847 4.66,23.74 4.501,23.596 4.345,23.455 4.23,23.247 4.126,23.002 4.024,22.757 3.97,22.46 3.97,22.096 c 0,-0.349 0.031,-0.63 0.125,-0.875 0.096,-0.245 0.221,-0.445 0.375,-0.594 0.161,-0.154 0.341,-0.279 0.531,-0.344 0.19,-0.068 0.383,-0.094 0.594,-0.094 0.19,0 0.365,0.036 0.531,0.094 0.167,0.057 0.326,0.135 0.469,0.219 0.141,0.083 0.266,0.164 0.375,0.25 0.112,0.086 0.208,0.156 0.281,0.219 H 7.439 V 19.565 C 7.332,19.513 7.207,19.437 7.064,19.377 6.923,19.315 6.77,19.27 6.595,19.221 6.428,19.177 6.23,19.153 6.032,19.127 5.837,19.098 5.621,19.065 5.376,19.064 Z m 5.5,0 c -0.763,0 -1.388,0.188 -1.875,0.531 -0.484,0.341 -0.75,0.771 -0.75,1.313 0,0.404 0.099,0.758 0.313,1.031 0.216,0.271 0.573,0.466 1.063,0.625 0.214,0.07 0.445,0.141 0.688,0.188 0.245,0.044 0.469,0.104 0.688,0.156 0.208,0.049 0.393,0.125 0.5,0.219 0.109,0.091 0.156,0.185 0.156,0.313 0,0.138 -0.049,0.242 -0.125,0.313 -0.073,0.07 -0.167,0.141 -0.281,0.188 -0.094,0.036 -0.195,0.047 -0.344,0.063 -0.148,0.016 -0.284,0.031 -0.375,0.031 -0.354,0 -0.708,-0.055 -1.094,-0.188 C 9.056,23.713 8.686,23.5 8.376,23.252 H 8.22 v 1.406 c 0.312,0.13 0.643,0.227 1,0.313 0.359,0.083 0.799,0.125 1.281,0.125 0.833,0 1.484,-0.174 1.969,-0.531 0.487,-0.359 0.719,-0.802 0.719,-1.375 0,-0.401 -0.099,-0.75 -0.313,-1 -0.211,-0.253 -0.555,-0.448 -1,-0.594 C 11.649,21.523 11.449,21.481 11.251,21.44 11.056,21.398 10.84,21.359 10.626,21.315 10.3,21.247 10.087,21.146 9.97,21.065 9.853,20.982 9.814,20.875 9.814,20.721 c 0,-0.102 0.021,-0.203 0.094,-0.281 0.073,-0.081 0.18,-0.117 0.281,-0.156 0.115,-0.047 0.221,-0.078 0.344,-0.094 0.125,-0.018 0.25,-0.031 0.375,-0.031 0.354,0 0.693,0.06 1.031,0.188 0.341,0.125 0.641,0.281 0.875,0.469 H 12.97 V 19.472 C 12.697,19.36 12.376,19.264 12.001,19.191 11.629,19.115 11.259,19.066 10.876,19.066 Z m 5.688,0 c -0.763,0 -1.388,0.188 -1.875,0.531 -0.484,0.341 -0.75,0.771 -0.75,1.313 0,0.404 0.099,0.758 0.313,1.031 0.216,0.271 0.573,0.466 1.063,0.625 0.214,0.07 0.445,0.141 0.688,0.188 0.245,0.044 0.469,0.104 0.688,0.156 0.208,0.049 0.393,0.125 0.5,0.219 0.109,0.091 0.156,0.185 0.156,0.313 0,0.138 -0.049,0.242 -0.125,0.313 -0.073,0.07 -0.167,0.141 -0.281,0.188 -0.094,0.036 -0.195,0.047 -0.344,0.063 -0.148,0.016 -0.284,0.031 -0.375,0.031 -0.354,0 -0.708,-0.055 -1.094,-0.188 -0.383,-0.133 -0.753,-0.346 -1.063,-0.594 h -0.156 v 1.406 c 0.312,0.13 0.643,0.227 1,0.313 0.359,0.083 0.799,0.125 1.281,0.125 0.833,0 1.484,-0.174 1.969,-0.531 0.487,-0.359 0.719,-0.802 0.719,-1.375 0,-0.401 -0.099,-0.75 -0.313,-1 -0.211,-0.253 -0.555,-0.448 -1,-0.594 -0.227,-0.073 -0.427,-0.115 -0.625,-0.156 -0.195,-0.042 -0.411,-0.081 -0.625,-0.125 -0.326,-0.068 -0.539,-0.169 -0.656,-0.25 -0.117,-0.083 -0.156,-0.19 -0.156,-0.344 0,-0.102 0.021,-0.203 0.094,-0.281 0.073,-0.081 0.18,-0.117 0.281,-0.156 0.115,-0.047 0.221,-0.078 0.344,-0.094 0.125,-0.018 0.25,-0.031 0.375,-0.031 0.354,0 0.693,0.06 1.031,0.188 0.341,0.125 0.641,0.281 0.875,0.469 h 0.156 V 19.472 C 18.385,19.36 18.064,19.264 17.689,19.191 17.317,19.115 16.947,19.066 16.564,19.066 Z M 0,28.001 v 3.751 c 0,0.138 0.112,0.25 0.25,0.25 h 25.5 c 0.138,0 0.25,-0.112 0.25,-0.25 v -3.751 z";
    -fx-background-color: -qw-icon-color;
}

.stylesheets
{
    -fx-min-width: 25em;
}

.stylesheetfile
{
    -fx-border-width: 0 0 1px 0;
    -fx-padding: 0.25em;
    -fx-border-color: -qw-component-inner-border-color;
}

.stylesheetfile:last
{
    -fx-border-width: 0;
}

.scroll-pane
{
    -fx-fit-to-width: true;
    -fx-fit-to-height: false;
}

.properties
{
    -fx-min-width: 30em;
}

.properties .scroll-pane
{
    -fx-fit-to-width: false;
}

.properties .items .label, .properties .items .control .label
{
    -fx-font-family: "Courier New";
}

.properties .items .control
{
    -fx-padding: 0;
}

.properties .form
{
    -fx-padding: 0.5em;
}

.properties .form .items > .label
{
    -fx-min-width: 12em;
    -fx-pref-width: 12em;
    -fx-text-fill: grey;
}

.declaration
{
    -fx-padding: 0 0 0 1.5em;
}

.selectorclose
{
    -fx-padding: 0 0 0.5em 0;
}

.selectors .name
{
    -fx-fill: grey;
}

.selectors .name.match
{
    -fx-fill: green;
    /*-fx-font-weight: bold;*/
    -fx-font-style: italic;
}

.declaration .name
{
    -fx-fill: red;
}

.scroll-pane:scrolling, .scroll-pane
{
    -fx-border-width: 0;
}
