.string
{
    -fx-padding: 0 0.5em 0.5em 0.5em;
}

.header .iconbox,
.header .iconbox .icon
{
    -fx-pref-width: 1.666em;
    -fx-pref-height: 1.666em;
    -fx-fill-height: false;
    -fx-alignment: center;
}

.header .iconbox .icon.achievement-icon
{
    -fx-pref-width: 1.11em;
    -fx-max-width: 1.11em;
    -fx-min-width: 1.11em;
}

.string .header
{
    -fx-padding: 0 0 0.25em 0;
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: -qw-component-border-color;
}

.string .header .iconbox
{
    visibility: hidden;
}

.string .header .title
{
    -fx-font-size: 1.7em;
    -fx-content-display: text-only;
    -fx-padding: 0;
}

.string .form .items > .label,
.string .form .items .preview > .label
{
    -fx-font-style: italic;
}

.string .form
{
    -fx-padding: 0 0 0 0em;
}

.string .form .description
{
    -fx-padding: 0.25em 0.25em 0.25em 0.5em;
}

.string .form .preview > .label
{
    -fx-padding: 0 0 0.5em -1.0em;
}

.qtextview.sectioncomment
{
    -fx-padding: 0.25em 0.5em 0 1em;
}

.qtextarea
{
    -fx-pref-height: 8em;
    -fx-min-height: 8em;
}

.messages
{
    -fx-padding: 0.5em 0.5em 0.5em 1em;
}

.label.novalue,
.label.errorsonly
{
    -fx-padding: 0.5em;
    -fx-background-color: #dddddd;
}

.label.novalue .iconbox,
.label.novalue .iconbox .icon,
.label.errorsonly .iconbox,
.label.errorsonly .iconbox .icon
{
    -fx-pref-width: 1.333em;
    -fx-pref-height: 1.333em;
    -fx-alignment: center;
    -fx-fill-height: false;
}

.label.errorsonly .iconbox .icon.errorsonly-icon
{
    -fx-pref-width: 0.555em;
    -fx-max-width: 0.555em;
    -fx-min-width: 0.555em;
}
