/*
 * Base styles for panels using com.quollwriter.ui.fx.components.Panel
 */
.panel { -fx-background-color: -qw-bg-color; }
.panel .header { -fx-padding: 0 0 0 0.5em; }
.panel .header .title {
    -fx-max-width: Infinity;
    -fx-text-fill: -fx-text-base-color;
    -fx-font-size: 1.7em;
    -fx-padding: 0 0 0 0.3em;
}
.panel .header .controls .button .iconbox,
.panel .header .controls .button .iconbox .icon
{
    -fx-pref-width: 1.333em;
    -fx-pref-height: 1.333em;
    -fx-fill-height: false;
    -fx-alignment: center;
}
