/*
 * Styles related to the statistics panel, com.quollwriter.ui.fx.panels.StatisticsPanel
 */
 .statistics .header.main { -fx-padding: 0.3em; }
 .header.main .iconbox,
 .header.main .iconbox .icon
 {
     -fx-pref-width: 1.7em;
     -fx-pref-height: 1.7em;
     -fx-fill-height: false;
     -fx-alignment: center;
 }

 .panel.statistics .controls
 {
     -fx-padding: 0.5em;
     -fx-alignment: center-left;
 }

 .panel.statistics .controls .label,
 .panel.statistics .controls .check-box,
 .panel.statistics .controls .hyperlink
 {
     -fx-padding: 0 0.5em 0 0.5em;
 }

 .panel.statistics .detail
 {
     -fx-padding: 0.5em 0.5em 1em 1em;
     -fx-alignment: center;
 }

 .panel.statistics .markers
 {
     -fx-vertical-grid-lines-visible: false;
     -fx-horizontal-grid-lines-visible: false;
     -fx-horizontal-zero-line-visible: false;
 }

 .panel.statistics .markers .axis
 {
     -fx-opacity: 0;
 }

 .panel.statistics .detail > *
 {
     -fx-alignment: center;
 }

 .panel.statistics .detail .item
 {
     -fx-padding: 0 0.5em 0 0;
 }

 .panel.statistics .chart
 {
     -fx-category-gap: 10em;
     -fx-legend-visible: false;
     -fx-vertical-grid-lines-visible: false;
 }

 .panel.statistics .axis-label
 {
     -fx-font-size: 1.2em;
 }

 .panel.statistics .axis > *
 {
     -fx-font-size: 1.1em;
 }

 .panel.statistics .chart-plot-background
 {
     -fx-background-color: transparent;
 }

 .panel.statistics .chart-bar.series0
 {
     -fx-background-color: #f5b800;
     -fx-min-width: 2em;
     -fx-pref-width: 2em;
     -fx-min-height: 2em;
 }

  .scroll-pane
  {
      -fx-fit-to-height: true;
      -fx-fit-to-width: true;
      -fx-min-height: 20em;
      -fx-min-width: 20em;
  }

.marker.average.line
{
    -fx-stroke: green;
}

.marker.target.line
{
    -fx-stroke: red;
}

.marker.average.label
{
    -fx-padding: 0.25em 0.25em 0.25em 0.25em;
    -fx-background-color: green;
    -fx-text-fill: white;
}

.marker.target.label
{
    -fx-padding: 0.25em 0.25em 0.25em 0.25em;
    -fx-background-color: red;
    -fx-text-fill: white;
}

.axis .label.axis-label
{
    -fx-padding: 0 0 0.5em 0;
}
